 @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900& display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    scroll-behavior: smooth;
}
:root{
    --bg-color: #f4f4f4;
    --text-color: #a41414;
    --main-color: rgb(213, 98, 85);
    --white-color: #fdfdfd;
    --shadow-color: rgba(0, 0, 0, .2);
}
.dark-mode{
    --bg-color: rgb(35, 16, 64);
    --text-color: #754ef9;
    --shadow-color: rgba(0, 0, 0, .7);
}
html{
    font-size: 70%;
    overflow-x: hidden ;
}
body{
    background-color: var(--bg-color);
    color: var(--text-color);
}
#mijloc{
   transform: translateX(500px);
}
.header{
    position: fixed;
    width: 100%;
    padding: 2rem 7%;
    background-color: transparent;
    display: flex;
    align-items: center;
    z-index: 100;
    transition: .5s;
}
.header.sticky{
    background: var(--bg-color);
    box-shadow: 0 .1rem 1rem var(--shadow-color);
}
.header.sticky .navbar a{
    color: var(--text-color);
}
.header.sticky .navbar a:active{
    color: var(--main-color);
}
.header.sticky .navbar a::before{
    background: var(--main-color);
    opacity: .7;
}
#darkMode{
    font-size: 2.4rem;
    color: var(--white-color);
    cursor: pointer;
}
.header.sticky #darkMode{
    color: var(--text-color);
    opacity: .9;
}
.header 
.profil{
    font-size: 2.5rem;
    color: var(--main-color);
    font-weight: 600;
    cursor: default;
    margin-right: auto;
}
.navbar a{
    position: relative;
    font-size: 1.5rem;
    color: var(--white-color);
    font-weight: 500;
    margin-right: 3.5rem;
}
.navbar a.activ::before{
    content: '';
    position: absolute;
    left: 0;
    bottom: -6px;
    width: 100%;
    height: .2rem;
    background: var(--white-color);
}
#darkMode{
    font-size: 2.5rem;
    color: var(--white-color);
    cursor: pointer;
}
#menu-icon{
    font-size: 3.6rem;
    color: var(--text-color);
    display: none;
}
section{
    min-height: 100vh;
    padding: 10rem 7% 2rem;
}
.content{
    display: flex;
    align-items: center;
}
.content .pagina-content{
   max-width: 44rem;
}
.pagina-content h3{
    font-size: 3rem;
    font-weight: 700;
    line-height: .3;
}
.pagina-content h1{
    font-size: 5rem;
    font-weight: 700;
}
.subheading{
    font-size: 1rem;
}
.pagina-content .social-media a{
     display: inline-flex;
     justify-content: center;
     align-items: center;
     width: 4rem; 
     height: 4rem;
     background: transparent;
     border: .2rem solid var(--main-color);
     border-radius: 50%;
     box-shadow: 0 .2rem .5rem var(--main-color);
     margin: 1.5rem 2rem 3rem 0;
     transition: .5s ease;
     transform: translateX(110px);
}
.pagina-content .social-media a:hover{
    background: var(--main-color);
    color: var(--main-color);
}
.content-img img{
  position: absolute;
  bottom: 0;
  right: 0;
  width: 100%;
  pointer-events: none;
}


/*buton cv*/
button {
    transform: translateX(180px);
    transform: translateY(20px);
    position: relative;
    padding: 13px 35px;
    background: #f5ddb7;
    font-size: 17px;
    font-weight: 900;
    color: #181818;
    border: none;
    border-radius: 8px;
    box-shadow: 2px 2px 5px #18181869, inset 2px 2px 10px #ffffffb0;
    transition: all .3s ease-in-out;
  }
  .jos{
    transform: translateY(70px);

  }
  
  .icon-1 {
    position: absolute;
    top: 10%;
    left: 50%;
    transform: translate(-50%, 0);
    width: 0px;
    height: auto;
    transition: all .5s ease-in-out;
    z-index: -1;
  }
  
  .icon-2 {
    position: absolute;
    top: 10%;
    left: 50%;
    transform: translate(-50%, 0);
    width: 0px;
    height: auto;
    transition: all .5s ease-in-out;
    z-index: -2;
  }
  
  .icon-3 {
    position: absolute;
    top: 10%;
    left: 50%;
    transform: translate(-50%, 0);
    width: 0px;
    height: auto;
    transition: all .5s ease-in-out;
    z-index: -2;
  }
  
  .icon-4 {
    position: absolute;
    top: 10%;
    left: 50%;
    transform: translate(-50%, 0);
    width: 0px;
    height: auto;
    transition: all .5s ease-in-out;
    z-index: -2;
  }
  
  .icon-5 {
    position: absolute;
    top: 10%;
    left: 50%;
    transform: translate(-50%, 0);
    width: 0px;
    height: auto;
    transition: all .5s ease-in-out;
    z-index: -2;
  }
  
  button:hover {
    padding: 13px 25px;
    border-radius: 8px 8px 24px 24px;
  }
  
  button:hover .icon-1 {
    top: -250%;
    left: 50%;
    transform: translate(-50%, 0);
    width: 50px;
    height: auto;
    animation: inIcon1 1s ease .45s forwards;
  }
  
  @keyframes inIcon1 {
    0% {
      transform-origin: 0 100%;
      transform: translate(-50%, 0) rotate(0deg);
    }
  
    25% {
      transform-origin: 0 100%;
      transform: translate(-50%, 0) rotate(5deg);
    }
  
    50% {
      transform-origin: 0 100%;
      transform: translate(-50%, 0) rotate(1deg);
    }
  
    65% {
      transform-origin: 0 100%;
      transform: translate(-50%, 0) rotate(3deg);
    }
  
    100% {
      transform-origin: 0 100%;
      transform: translate(-50%, 0) rotate(0deg);
    }
  }
  
  button:hover .icon-2 {
    position: absolute;
    top: -200%;
    left: 90%;
    transform: translate(-50%, 0);
    width: 75px;
    height: auto;
    animation: inIcon2 1s ease .45s forwards;
  }
  
  @keyframes inIcon2 {
    0% {
      transform-origin: 0 100%;
      transform: translate(-50%, 0) rotate(0deg);
    }
  
    35% {
      transform-origin: 0 100%;
      transform: translate(-50%, 0) rotate(10deg);
    }
  
    50% {
      transform-origin: 0 100%;
      transform: translate(-50%, 0) rotate(4deg);
    }
  
    80% {
      transform-origin: 0 100%;
      transform: translate(-50%, 0) rotate(5deg);
    }
  
    100% {
      transform-origin: 0 100%;
      transform: translate(-50%, 0) rotate(0deg);
    }
  }
  
  button:hover .icon-3 {
    position: absolute;
    top: -130%;
    left: 20%;
    transform: translate(-50%, 0);
    width: 60px;
    height: auto;
    animation: inIcon3 1s ease .45s forwards;
  }
  
  @keyframes inIcon3 {
    0% {
      transform-origin: 0 100%;
      transform: translate(-50%, 0) rotate(0deg);
    }
  
    35% {
      transform-origin: 0 100%;
      transform: translate(-50%, 0) rotate(-2deg);
    }
  
    100% {
      transform-origin: 0 100%;
      transform: translate(-50%, 0) rotate(0deg);
    }
  }
  
  button:hover .icon-4 {
    position: absolute;
    top: -300%;
    left: 10%;
    transform: translate(-50%, 0);
    width: 85px;
    height: auto;
    animation: inIcon4 1s ease .45s forwards;
  }
  
  @keyframes inIcon4 {
    0% {
      transform-origin: 0 100%;
      transform: translate(-50%, 0) rotate(0deg);
    }
  
    40% {
      transform-origin: 0 100%;
      transform: translate(-50%, 0) rotate(-3deg);
    }
  
    100% {
      transform-origin: 0 100%;
      transform: translate(-50%, 0) rotate(0deg);
    }
  }
  
  button:hover .icon-5 {
    position: absolute;
    top: -350%;
    left: 90%;
    transform: translate(-50%, 0);
    width: 85px;
    height: auto;
    animation: inIcon5 1s ease .45s forwards;
  }
  
  @keyframes inIcon5 {
    0% {
      transform-origin: 0 100%;
      transform: translate(-50%, 0) rotate(0deg);
    }
  
    35% {
      transform-origin: 0 100%;
      transform: translate(-50%, 0) rotate(-3deg);
    }
  
    100% {
      transform-origin: 0 100%;
      transform: translate(-50%, 0) rotate(0deg);
    }
  }
  
  .fil-leaf-1 {
    fill: #7B9B3A
  }
  
  .fil-leaf-2 {
    fill: #556729;
    fill-rule: nonzero
  }
  
  .fil-leaf-3 {
    fill: #556729
  }
  
  .fil-leaf-4 {
    fill: #3C4819
  }
  
  .fil-leaf-5 {
    fill: #3C4819
  }

.dreapta{
    margin-left: 80px;
    font-family: "Sofia", sans-serif;
    transform: translateX(10%);
}

/*pentru social media*/

.content .profession-container{
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    width: 768px;
    height: 768px;
    overflow: hidden;
    pointer-events: none;
}
.content .profession-container .profession-box{
    position: absolute;
    top: 0;
    right: 0;
    width: 768px;
    height: 768px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    animation: professionRotate 13s ease-out infinite;
}
@keyframes professionRotate{
    0%,20%{
     transform: rotate(0deg);
    }
    25%,45%{
     transform: rotate(-120deg);
    }
    50%,70%{
     transform: rotate(-240deg);
    }
    75%,95%,100%{
     trasform: rotate(-360deg);
    }
 }
.content .profession-box .profession{
    position: absolute;
    display: flex;
    align-items: center;
    flex-direction: column;
    color: black !important;
    transform: rotate(calc(360deg / 3*var(--i)));
    transform-origin: 384px;
    left: 0;
    background: var(--bg-color);
    padding: 13px 0;
}
.content .profession-box .profession:nth-child(1) i{
    margin-right: 15px;
}
.content .profession-box .profession:nth-child(2),
.content .profession-box .profession:nth-child(3){
    padding-bottom: 20px;
}
.content .profession i{
    font-size: 3.8rem;
}
.content .profession h3{
    font-size: 3.2rem;
    line-height: 1;
    font-weight: 600;
}
.content .profession-box .circle{
    width: 560px;
    height: 560px;
    border: 3px solid black;
    border-radius: 50%;
}
.content .profession-container .overplay{
    position: absolute;
    top: 0;
    right: 0;
    width: 0;
    height: 0;
    border-top: 384px solid rgb(18, 10, 35);
    border-right: 384px solid rgb(18, 10, 35);
    border-bottom: 384px solid rgb(18, 10, 35);
    border-left: 384px solid transparent;
}
.content-img img{
    position: absolute;
    bottom: 0;
    right: 0;
    width: 100%;
    pointer-events: none;
}
span{
    color: var(--main-color);
}
.about{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4rem;
}
.about-img img{
    width: 40vw;
}
.heading{
    font-size: 4.5rem;
    text-align: center;
}
.about-content h2{
    text-align: left;
    line-height: 1.2;
}
.about-content h3{
    font-size: 2rem;
}
.about-content p{
    font-size: 1.6rem;
    margin: 2rem 0 3rem;
}
.services{
    min-height: auto;
    padding-bottom: 7rem;
}
.services .services-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 2rem;
}
.services-container .services-box{
    flex: 1 1 30rem;
    background: var(--bg-color);
    padding: 3rem 2rem 4rem ;
    border-radius: 2rem;
    box-shadow: 0 .1rem .5rem var(--shadow-color);
    text-align: center;
    border-top: .6rem solid black;
    border-bottom: .6rem solid black;
    transition: .5s ease;
}
.services-container .services-box:hover{
    box-shadow: 0 .1rem 2rem var(--shadow-color);
    transform: scale(1.02);
}
.services-box i{
    font-size: 5rem;
    color: var(--main-color);
}
.services-box  h3{
    font-size: 2.6rem;
    transition: .5s ease;
}
.services-box  h3:hover{
    color: var(--main-color);
}
.services-box p{
    font-size: 1.6rem;
    margin: 1rem 0 3rem;
}
.contact h2{
  margin-bottom: 3rem;
}
.contact form{
    max-width: 70rem;
    margin: 1rem auto;
    text-align: center;
    margin-bottom: 3rem;
}
.contact form .input-box{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.contact form .input-box input,
.contact form textarea{
    width: 100%;
    padding: 1.5rem;
    font-size: 1.6rem;
    color: var(--text-color);
    background: var(--bg-color);
    border-radius: .8rem;
    margin: .7rem;
    box-shadow: 0 .1rem .5rem var(--shadow-color);
}
.contact form .input-box input{
    width: 48%;
}
.contact form textarea{
    resize: none;
} 
.footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 2rem 7%;
    background: black !important;
}
.footer-text p{
    font-size: 1.6rem;
    color: var(--white-color);
}
.footer-icon a{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    padding: .8rem;
    background: var(--white-color);
    border-radius: .8rem;
    border: .2rem solid var(--main-color);
    outline: .2rem solid transparent;
    transition: .5s ease;
}
.footer-icon a:hover{
    outline-color: var(--white-color);
}
.footer-icon{
    font-size: 2.4rem;
    color: #333;
}

/*BreakPoints*/
@media (max-width: 1200px){
  html{
     font-size: 55%;
  }
  .content .profession-container{
     height: 85.8rem;
  }
  .content .profession-container .profession-box{
    right: -12rem;
    height: 85.8rem;
  }
  .content .profession-container .overlay{
    position: fixed;
    top: 70rem;
    left: 50%;
    right: 0;
    transform: rotate(90deg) translate(-50%, 50%) scaleY(3);
    border-width: 23.9rem;
  }
}

@media (max-width: 1024px){
    .header{
        padding: 2rem 3%;
    }
    section{
        padding: 10rem 3% 2rem;
    }
    .profession-container .profession-box{
        right: -22rem;
    }
    .content .profession-container .overlay{
        right: -15rem;
    }
}

@media (max-width: 991px){
    .navabr a:nth-child(1),
    .navbar a:nth-child(2){
        color: var(--main-color);
    }
    .navbar a.activ:before{
        background: var(--main-color);
        opacity: .7;
    }
    .content .pagina-content{
        max-width: 50rem;
    }
    .content .profession-container .profession-box{
        right: -45rem;
    }
    .content .pagina-container .overlay{
        right: -39.5rem;
    }
    .content-img img{
        display: none;
    }
    .services{
        padding-bottom: 7rem;
    }
    .contact{
        min-height: auto;
    }
    .footer{
        padding: 2rem 3%;
    }
}

@media (max-width: 768px){
    #menu-icon{
        display: block;
    }
    .navbar{
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        padding: 1rem 3%;
        background: var(--bg-color);
        border-top: .1rem solid rgba(0, 0, 0, .2);
        box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .1);
    }
    .navbar a{
        display: block;
        font-size: 2rem;
        margin: 3rem 0;
        color: var(--text-color);
    }
    .navbar a:nth-child(1),
    .navabr a:nth-child(2){
        color: var(--text-color);
    }
    .navbar a:active{
        color: var(--main-color);
    }
    .navbar a:before{
        display: none;
    }
    #darkMode{
        position: absolute;
        right: 7rem;
        font-size: 2.6rem;
        color: var(--text-color);
        margin-bottom: .1rem;
    }
    .navbar.activ{
        display: block;
    }
    .content{
        padding: 0 3% 23rem;
        justify-content: center;
        text-align: center;
    }
    .pagina-content h3{
        font-size: 2.6rem;
    }
    .pagina-content h1{
        font-size: 5rem;
    }
    .pagina-content .social-media a{
        margin: 2.5rem .75rem 3rem;
    }
    .content .profession-container .overlay{
        position: fixed;
        top: 70rem;
        left: 50%;
        right: 0;
        transform: rotate(90deg) translate(-50%, 50%) scaleY(3);
        border-width: 23.9rem;
    }
    .content .profession-container{
        left: 0;
        width: 100%;
        height: 100%;

    }
    .content .profession-container .profession-box{
        position: fixed;
        top: 60%;
        left: 0;
        border-radius: 0;
        width: 100%;
    }
    .content .profession-box .profession{
        padding: 0 13px;
        left: auto;
        transform-origin: 0;
        }
    .content .profession-box .profession:nth-child(1) i{
        margin-right: 0;
    } 
    .content .profession-box .profession:nth-child(2) i{
        transform: rotate(0deg) translate(0, -335px);
    } 
    .content .profession-box .profession:nth-child(3) i{
        transform: rotate(90deg) translate(0, -450px);
    }    
}